@{
    Layout = "_Layout";
    ViewData["Title"] = "Đăng ký";
}
<link rel="stylesheet" href="~/css/diachi.css" />

<section class="breadcrumb-section">
    <div class="container__address">
        <div class="header__trangchu">
            <a asp-controller="SanPham" asp-action="Index">Trang chủ</a>
        </div>
        <span class="divider">/</span>
        <div class="header__vitri">Vị trí cửa hàng</div>
    </div>
</section>

<section class="main-address-content">
    <div class="address-header">
        <h2>Hệ Thống Cửa Hàng</h2>
        <div class="line-deco"></div>
    </div>

    <div class="address-grid">
        <div class="address-info">
            <div class="info-item">
                <div>
                    <h4>Địa chỉ chính</h4>
                    <p>18 Tống Hữu Định, Thảo Điền, Quận2, HCM </p>
                </div>
            </div>
            <div class="info-item">
                <div>
                    <h4>Hotline</h4>
                    <p>xxx xxxx xxx</p>
                </div>
            </div>
            <div class="info-item">
                <div>
                    <h4>Email</h4>
                    <p>duongtrinhan00@gmailcom</p>
                </div>
            </div>
            <div class="info-item">
                <div>
                    <h4>Giờ mở cửa</h4>
                    <p>07:30 - 17h (Thứ 2 - Thứ 7)</p>
                </div>
            </div>
        </div>

        <div class="gg__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0706561568404!2d106.73052997480531!3d10.805900489344609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752619b1ceb1b3%3A0x1e4c935c88a9811d!2zMTggVOG7kW5nIEjhu691IMSQ4buLbmgsIFRo4bqjbyDEkGnhu4FuLCBBbiBLaMOhbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1775492956893!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>